{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="content-section" style="background-color: #EED971FF;">
        <form action="" method="post" class="frm">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend claass="border-bottom mb-4">Join Now</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Already have an account? <a href="{% url 'login' %}" style="color: black;">Login</a></small>
        </div>
    </div>

    
{% endblock content %}